<meta name="description" content="{{data.yoast.metadesc}}"/>
<meta name="robots" content="noodp"/>
<link rel="canonical" href="{{data.yoast.canonical}}" />
<link rel="publisher" href="https://plus.google.com/{{mybusiness}}"/>
<meta property="og:locale" content="it_IT" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{data.yoast.opengraph-title}}" />
<meta property="og:description" content="{{data.yoast.opengraph-description}}" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="" />
<meta property="og:image" content="{{data.yoast.opengraph-image}}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="{{data.yoast.twitter-description}}" />
<meta name="twitter:title" content="{{data.yoast.twitter-title}}" />
<meta name="twitter:image" content="{{data.yoast.twitter-image}}" />
